# ==============================================================================
# BUGBU MASTER LCD MENU - FULLY LOADED
# ==============================================================================

### ROOT MENU REDEFINITION ###
[menu __main]
type: list
name: Main

# ==============================================================================
# 1. LIVE TUNING (Only visible while printing or paused)
# ==============================================================================
[menu __main __tune]
type: list
enable: {printer.print_stats.state == "printing" or printer.print_stats.state == "paused"}
name: Tune Print

[menu __main __tune __offsetz]
type: input
name: Z-Babystep:{'%05.3f' % menu.input}
input: {printer.gcode_move.homing_origin.z}
input_min: -2.0
input_max: 2.0
input_step: 0.005
realtime: True
gcode:
    SET_GCODE_OFFSET Z_ADJUST={'%.3f' % menu.input} MOVE=1

[menu __main __tune __speed]
type: input
name: Speed: {'%3d' % (menu.input*100)}%
input: {printer.gcode_move.speed_factor}
input_min: 0.01
input_max: 5
input_step: 0.01
realtime: True
gcode: M220 S{'%d' % (menu.input*100)}

[menu __main __tune __flow]
type: input
name: Flow: {'%3d' % (menu.input*100)}%
input: {printer.gcode_move.extrude_factor}
input_min: 0.01
input_max: 2
input_step: 0.01
realtime: True
gcode: M221 S{'%d' % (menu.input*100)}

[menu __main __tune __fanspeed]
type: input
name: Part Fan: {'%3d' % (menu.input*100)}%
input: {printer["fan"].speed}
input_min: 0
input_max: 1
input_step: 0.01
realtime: True
gcode: M106 S{'%d' % (menu.input*255)}

[menu __main __tune __hotend]
type: input
name: Nozzle: {'%3.0f' % menu.input}
input: {printer.extruder.target}
input_min: 0
input_max: {printer.configfile.config.extruder.max_temp}
input_step: 1
gcode: M104 S{'%.0f' % menu.input}

[menu __main __tune __hotbed]
type: input
name: Bed: {'%3.0f' % menu.input}
input: {printer.heater_bed.target}
input_min: 0
input_max: {printer.configfile.config.heater_bed.max_temp}
input_step: 1
gcode: M140 S{'%.0f' % menu.input}

# ==============================================================================
# 2. SD CARD & PRINT STATE
# ==============================================================================
[menu __main __sdcard]
type: vsdlist
enable: {not (printer.print_stats.state == "paused" or printer.print_stats.state == "printing")}
name: Print from SD

[menu __main __resume]
type: command
enable: {('virtual_sdcard' in printer) and printer.print_stats.state == "paused"}
name: Resume Print
gcode: RESUME

[menu __main __pause]
type: command
enable: {('virtual_sdcard' in printer) and printer.print_stats.state == "printing"}
name: Pause Print
gcode: PAUSE

[menu __main __cancel]
type: command
enable: {('virtual_sdcard' in printer) and (printer.print_stats.state == "printing" or printer.print_stats.state == "paused")}
name: Cancel Print
gcode: CANCEL_PRINT

# ==============================================================================
# 3. FILAMENT CONTROL
# ==============================================================================
[menu __main __filament]
type: list
enable: {not (printer.print_stats.state == "paused" or printer.print_stats.state == "printing")}
name: Filament

[menu __main __filament __load]
type: command
name: Smart Load
gcode: LOAD_FILAMENT

[menu __main __filament __unload]
type: command
name: Smart Unload
gcode: UNLOAD_FILAMENT

[menu __main __filament __cooldown]
type: command
name: Cooldown
gcode:
    M104 S0
    M140 S0

# ==============================================================================
# 4. TEMPERATURE CONTROL
# ==============================================================================
[menu __main __temp]
type: list
enable: {not (printer.print_stats.state == "paused" or printer.print_stats.state == "printing")}
name: Temperature

[menu __main __temp __hotend]
type: input
name: Nozzle: {'%3.0f' % menu.input}
input: {printer.extruder.target}
input_min: 0
input_max: {printer.configfile.config.extruder.max_temp}
input_step: 5
gcode: M104 S{'%.0f' % menu.input}

[menu __main __temp __hotbed]
type: input
name: Bed: {'%3.0f' % menu.input}
input: {printer.heater_bed.target}
input_min: 0
input_max: {printer.configfile.config.heater_bed.max_temp}
input_step: 5
gcode: M140 S{'%.0f' % menu.input}

[menu __main __temp __preheat_pla]
type: command
name: Preheat PLA
gcode:
    M140 S60
    M104 S210

[menu __main __temp __preheat_petg]
type: command
name: Preheat PETG
gcode:
    M140 S80
    M104 S240

[menu __main __temp __preheat_abs]
type: command
name: Preheat ABS
gcode:
    M140 S100
    M104 S250

[menu __main __temp __cooldown]
type: command
name: Cooldown All
gcode:
    M104 S0
    M140 S0

# ==============================================================================
# 5. KINEMATICS & MOTION CONTROL (Grouped by Axis)
# ==============================================================================
[menu __main __control]
type: list
enable: {not (printer.print_stats.state == "paused" or printer.print_stats.state == "printing")}
name: Motion

[menu __main __control __home]
type: command
name: Auto Home
gcode: _CHOME

[menu __main __control __disable]
type: command
name: Steppers Off
gcode: M84

# ------------------------------------------------------------------------------
# X AXIS
# ------------------------------------------------------------------------------
[menu __main __control __axis_x]
type: list
name: Move X Axis

[menu __main __control __axis_x __10mm]
type: input
name: 10mm: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.x}
input_min: {printer.toolhead.axis_minimum.x}
input_max: {printer.toolhead.axis_maximum.x}
input_step: 10.0
gcode:
    SAVE_GCODE_STATE NAME=__move__axis
    G90
    G1 X{menu.input} F3000
    RESTORE_GCODE_STATE NAME=__move__axis

[menu __main __control __axis_x __1mm]
type: input
name: 1mm: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.x}
input_min: {printer.toolhead.axis_minimum.x}
input_max: {printer.toolhead.axis_maximum.x}
input_step: 1.0
gcode:
    SAVE_GCODE_STATE NAME=__move__axis
    G90
    G1 X{menu.input} F3000
    RESTORE_GCODE_STATE NAME=__move__axis

# ------------------------------------------------------------------------------
# Y AXIS
# ------------------------------------------------------------------------------
[menu __main __control __axis_y]
type: list
name: Move Y Axis

[menu __main __control __axis_y __10mm]
type: input
name: 10mm: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.y}
input_min: {printer.toolhead.axis_minimum.y}
input_max: {printer.toolhead.axis_maximum.y}
input_step: 10.0
gcode:
    SAVE_GCODE_STATE NAME=__move__axis
    G90
    G1 Y{menu.input} F3000
    RESTORE_GCODE_STATE NAME=__move__axis

[menu __main __control __axis_y __1mm]
type: input
name: 1mm: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.y}
input_min: {printer.toolhead.axis_minimum.y}
input_max: {printer.toolhead.axis_maximum.y}
input_step: 1.0
gcode:
    SAVE_GCODE_STATE NAME=__move__axis
    G90
    G1 Y{menu.input} F3000
    RESTORE_GCODE_STATE NAME=__move__axis

# ------------------------------------------------------------------------------
# Z AXIS
# ------------------------------------------------------------------------------
[menu __main __control __axis_z]
type: list
name: Move Z Axis

[menu __main __control __axis_z __10mm]
type: input
name: 10mm: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.z}
input_min: 0
input_max: {printer.toolhead.axis_maximum.z}
input_step: 10.0
gcode:
    SAVE_GCODE_STATE NAME=__move__axis
    G90
    G1 Z{menu.input} F900
    RESTORE_GCODE_STATE NAME=__move__axis

[menu __main __control __axis_z __1mm]
type: input
name: 1mm: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.z}
input_min: 0
input_max: {printer.toolhead.axis_maximum.z}
input_step: 1.0
gcode:
    SAVE_GCODE_STATE NAME=__move__axis
    G90
    G1 Z{menu.input} F900
    RESTORE_GCODE_STATE NAME=__move__axis

[menu __main __control __axis_z __01mm]
type: input
name: 0.1mm: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.z}
input_min: 0
input_max: {printer.toolhead.axis_maximum.z}
input_step: 0.1
gcode:
    SAVE_GCODE_STATE NAME=__move__axis
    G90
    G1 Z{menu.input} F900
    RESTORE_GCODE_STATE NAME=__move__axis

# ------------------------------------------------------------------------------
# EXTRUDER
# ------------------------------------------------------------------------------
[menu __main __control __axis_e]
type: list
name: Extruder

[menu __main __control __axis_e __10mm]
type: input
name: 10mm: {'%+06.1f' % menu.input}
input: 0
input_min: -50
input_max: 50
input_step: 10.0
gcode:
    SAVE_GCODE_STATE NAME=__move__axis
    M83
    G1 E{menu.input} F240
    RESTORE_GCODE_STATE NAME=__move__axis

[menu __main __control __axis_e __1mm]
type: input
name: 1mm: {'%+06.1f' % menu.input}
input: 0
input_min: -50
input_max: 50
input_step: 1.0
gcode:
    SAVE_GCODE_STATE NAME=__move__axis
    M83
    G1 E{menu.input} F240
    RESTORE_GCODE_STATE NAME=__move__axis

# ==============================================================================
# 6. SETUP & CALIBRATION (Advanced)
# ==============================================================================
[menu __main __setup]
type: list
enable: {not (printer.print_stats.state == "paused" or printer.print_stats.state == "printing")}
name: Setup & Tuning

[menu __main __setup __eddy_mesh]
type: command
name: Rapid Bed Mesh
gcode: 
    BED_MESH_CALIBRATE METHOD=rapid_scan ADAPTIVE=1
    SAVE_CONFIG

[menu __main __setup __eddy_tap]
type: command
name: Test Eddy Tap
gcode:
    _CHOME
    PROBE_EDDY_NG_TAP TARGET_Z=-1.500

[menu __main __setup __master_pid]
type: command
name: Master PID Sweep
gcode:
    CALIBRATE_ALL_PID

[menu __main __setup __pid_hotend]
type: command
name: PID Hotend (210c)
gcode:
    PID_CALIBRATE HEATER=extruder TARGET=210 WRITE_FILE=1
    SAVE_CONFIG

[menu __main __setup __pid_bed]
type: command
name: PID Bed (65c)
gcode:
    PID_CALIBRATE HEATER=heater_bed TARGET=65 WRITE_FILE=1
    SAVE_CONFIG

[menu __main __setup __shaper_belt]
type: command
name: Belt Test
gcode:
    G28
    SHAPER_CALIBRATE TEST=1
    FIRMWARE_RESTART

[menu __main __setup __shaper_auto]
type: command
name: ADXL Auto-Tune
gcode:
    G28
    SHAPER_CALIBRATE
    SAVE_CONFIG

[menu __main __setup __git_backup]
type: command
name: Backup to GitHub
gcode:
    update_git

[menu __main __setup __save_config]
type: command
name: Save & Restart
gcode:
    SAVE_CONFIG

# ==============================================================================
# 7. NEOPIXEL LIGHTING
# ==============================================================================
[menu __main __led]
type: list
name: Lighting

[menu __main __led __ready]
type: command
name: Status: Ready (Blue)
gcode: status_ready

[menu __main __led __printing]
type: command
name: Status: Print (White)
gcode: status_printing

[menu __main __led __purging]
type: command
name: Status: Purge (Pink)
gcode: status_purging

[menu __main __led __off]
type: command
name: Turn Off LEDs
gcode: status_off