[tmc2209 stepper_x]
driver_SGTHRS: 60  # Adjust for sensitivity

[tmc2209 stepper_y]
driver_SGTHRS: 95  # Adjust for sensitivity

[mcu CB1]
serial: /tmp/klipper_host_mcu

[mcu]
canbus_uuid: 74d8c6b188df

[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_5044506110C1431C-if00
restart_method: command

[include macro.cfg]
[include screen.cfg]
# [include adxl.cfg]
[include sfs.cfg]

[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 1.0

[exclude_object]

[save_variables]
filename: ~/printer_data/config/variables.cfg

[stepper_x]
step_pin: PC8
dir_pin: !PC9
enable_pin: !PA15
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 215
homing_speed: 40             # Speed of the first fast bump
homing_retract_dist: 8       # Backs off 8mm after the first bump
homing_retract_speed: 20     # KALICO: Slower speed for the second precision bump
min_home_dist: 5             # KALICO: Ensures the head isn't already resting on the endstop
use_sensorless_homing: true

[stepper_y]
step_pin: PA10
dir_pin: !PA14
enable_pin: !PA13
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 200
position_max: 200
homing_speed: 40             # Speed of the first fast bump
homing_retract_dist: 8       # Backs off 8mm after the first bump
homing_retract_speed: 20     # KALICO: Slower speed for the second precision bump
min_home_dist: 5             # KALICO: Ensures the head isn't already resting on the endstop
use_sensorless_homing: true

[stepper_z]
step_pin: PC6
dir_pin: !PC7
enable_pin: !PA9
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -4
position_max: 200

[extruder]
step_pin: PB12
dir_pin: !PB11
enable_pin: !PA8
microsteps: 16
gear_ratio: 50:8
rotation_distance: 28.334 
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC5 
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA1
min_temp: -199
max_temp: 320
max_extrude_cross_section: 8
max_extrude_only_distance: 500
pressure_advance: 0.046

[heater_bed]
heater_pin: PA5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
min_temp: -199
max_temp: 130

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 36.82
y_offset: -18.23

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

[bed_mesh]
horizontal_move_z: 2
speed: 100
mesh_min: 40, 25
mesh_max: 190, 180
probe_count: 20, 11
algorithm: bicubic

[homing_override]
axes: xyz
set_position_z: 0
gcode:
  FORCE_MOVE STEPPER=stepper_z DISTANCE=5 VELOCITY=15 ACCEL=100
  G90
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
  {% if home_all or 'X' in params %}
    G28 X
  {% endif %}
  {% if home_all or 'Y' in params %}
    G28 Y
  {% endif %}
  {% if home_all or 'Z' in params %}
    G0 X77 Y130 F18000
    G28 Z
    G90
    G0 Z2 F1000
    G4 S1
    M400
    PROBE_EDDY_NG_PROBE_STATIC HOME_Z=1
    G0 Z5 F1000
  {% endif %}

[bed_screws]
screw1: 30, 30
screw1_name: front left screw
screw2: 165, 30
screw2_name: front right screw
screw3: 165, 170
screw3_name: rear right screw
screw4: 30, 170
screw4_name: rear left screw

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001

[fan]
pin: PA3 
hardware_pwm: true
cycle_time: 0.00004       # 25kHz Intel Spec
kick_start_time: 0.5      # The automated "finger push" (0.5 seconds of full power)
min_power: 0.02           # Replaces off_below. Fan will never be driven lower than 2%.
max_power: 0.1          # Uncomment this later if the fan overpowers your heater!

[heater_fan hotend_fan]
pin: PA4 
heater: extruder
heater_temp: 50.0

# [temperature_fan MCU_Fan]
# pin: CB1:gpio79 
# sensor_type: temperature_combined
# sensor_list: temperature_sensor pi, temperature_sensor mcu
# combination_method: max
# maximum_deviation: 999
# min_speed: 0
# min_temp: 0
# max_temp: 90
# target_temp: 65
# control: curve
# points:
#  48.0, 0.0
#  50.0, 0.05
#  52.0, 0.1
#  53.0, 0.5
#  55.0, 0.7
#  60.0, 1.0
# cooling_hysteresis: 1.0
# heating_hysteresis: 2.0

[temperature_sensor mcu]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 5000
minimum_cruise_ratio: 0
square_corner_velocity: 80.0
max_z_velocity: 15
max_z_accel: 300

########################################
# TMC UART configuration
########################################

[tmc2209 stepper_x]
uart_pin: PD9
interpolate: False
run_current: 1.0
hold_current: 0.5
sense_resistor: 0.110
diag_pin: ^PD3          # Note: Adding a pull-up (^) is highly recommended for sensorless reliability
home_current: 0.5       # KALICO: Drops current by 50% during homing for a gentle bump
current_change_dwell_time: 0.5 # KALICO: Waits 0.5s after dropping current to prevent false triggers

[tmc2209 stepper_y]
uart_pin: PD8
interpolate: False
run_current: 1.0
hold_current: 0.5
sense_resistor: 0.110
diag_pin: ^PD2          # Note: Adding a pull-up (^)
home_current: 0.5       # KALICO: Gentle bump current
current_change_dwell_time: 0.5 # KALICO: Stabilization delay

[tmc2209 stepper_z]
uart_pin: PB10
interpolate: False
run_current: 1.3
hold_current: 0.7
sense_resistor: 0.110

[tmc2209 extruder]
uart_pin: PB2
interpolate: False
run_current: 1.0
hold_current: 0.5
sense_resistor: 0.110

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PD5,  EXP1_3=PB3,  EXP1_5=PB5,  EXP1_7=PB7,  EXP1_9=<GND>,
    EXP1_2=PD4,  EXP1_4=PD6,  EXP1_6=PB4,  EXP1_8=PB6,  EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PB8,  EXP2_5=PC10, EXP2_7=PC12, EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB9,  EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=<NC>

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]

[display_status]

[respond]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.317
#*# pid_ki = 0.997
#*# pid_kd = 124.837
#*# pid_version = 1
#*# pid_target = 250.00
#*# pid_tolerance = 0.0200
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 63.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 63.4
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 70.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 67.659
#*# pid_ki = 1.921
#*# pid_kd = 595.825
#*#
#*# [pid_profile extruder TPU_TAP]
#*# pid_version = 1
#*# pid_target = 140.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 15.668
#*# pid_ki = 0.557
#*# pid_kd = 110.264
#*#
#*# [pid_profile extruder PLA_TAP]
#*# pid_version = 1
#*# pid_target = 150.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 16.187
#*# pid_ki = 0.591
#*# pid_kd = 110.878
#*#
#*# [pid_profile extruder PETG_TAP]
#*# pid_version = 1
#*# pid_target = 150.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 16.187
#*# pid_ki = 0.591
#*# pid_kd = 110.878
#*#
#*# [pid_profile extruder ABS_TAP]
#*# pid_version = 1
#*# pid_target = 190.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 18.780
#*# pid_ki = 0.770
#*# pid_kd = 114.439
#*#
#*# [pid_profile extruder PLA]
#*# pid_version = 1
#*# pid_target = 210.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 20.100
#*# pid_ki = 0.854
#*# pid_kd = 118.339
#*#
#*# [pid_profile extruder TPU]
#*# pid_version = 1
#*# pid_target = 230.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 20.738
#*# pid_ki = 0.896
#*# pid_kd = 120.024
#*#
#*# [pid_profile extruder PETG]
#*# pid_version = 1
#*# pid_target = 240.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 21.287
#*# pid_ki = 0.936
#*# pid_kd = 121.068
#*#
#*# [pid_profile extruder ABS]
#*# pid_version = 1
#*# pid_target = 250.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 22.317
#*# pid_ki = 0.997
#*# pid_kd = 124.837
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16
#*# calibration_version = 5
#*# reg_drive_current = 16
#*# tap_drive_current = 16
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUD/goyVCt/U/l0wOVoPd/j/hc9lKu/foP85tF8KwnLc/G2HKtNdP1D9D/U8fKf7jP/dYPQfvQ8O/G7pIY4na1L+W+4MIQcfIP4hwCqd62sU/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQojHW0ee+lD64z7zMNw6VPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQift5hcjYGkDhWICVXyIJQK2hfAJlhABAqzLAO4X8CEClRXCJmMHtv8+Cedrcsh7ATFKG3yTAB0BZ0AXq2iooQPIjb8wkv++/o4e5bs+IFcCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEEnid1mZC5U+r2GX+UgelT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DWtNlHi/mUPl+77TZ/iyA+WEhAx+laEb57pQgIBcXkPf/8AUukSfw9OR2tWkwG8z1VbS3+lMMUvluS2o11WfQ9oiTu/xwPCD7Y+iIApR73vZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAPJ3xI/vVT9W1dhv+PoTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/Ve+PxHfyAEdALf/44wWLVWWMB2ZfcmFuZ2WUXZQoR0FIPo9U+nAAR0FIrgZNmYgAZYwCZGOUSxB1Lg==
#*# tap_adjust_z = 0.100
