#####################################################################
#   Includes & File Management
#####################################################################

[include macro.cfg]
[include screen.cfg]
[include sfs.cfg]
# [include adxl.cfg]

[save_variables]
filename: ~/printer_data/config/variables.cfg

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#####################################################################
#   MCUs & Core Printer Settings
#####################################################################

[mcu]
canbus_uuid: 74d8c6b188df

[mcu CB1]
serial: /tmp/klipper_host_mcu

[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_5044506110C1431C-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 5000
minimum_cruise_ratio: 0
square_corner_velocity: 30.0
max_z_velocity: 15
max_z_accel: 300

#####################################################################
#   X/Y/Z Stepper & Driver Settings
#####################################################################

[stepper_x]
step_pin: PC8
dir_pin: !PC9
enable_pin: !PA15
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 215
homing_speed: 40             # Speed of the first fast bump
homing_retract_dist: 8       # Backs off 8mm after the first bump
homing_retract_speed: 20     # KALICO: Slower speed for the second precision bump
min_home_dist: 5             # KALICO: Ensures the head isn't already resting on the endstop
use_sensorless_homing: true

[tmc2209 stepper_x]
uart_pin: PD9
interpolate: False
run_current: 1.0
hold_current: 0.5
sense_resistor: 0.110
diag_pin: ^PD3          # Note: Adding a pull-up (^) is highly recommended for sensorless reliability
driver_SGTHRS: 60       # Adjust for sensitivity
home_current: 0.5       # KALICO: Drops current by 50% during homing for a gentle bump
current_change_dwell_time: 0.5 # KALICO: Waits 0.5s after dropping current to prevent false triggers

[stepper_y]
step_pin: PA10
dir_pin: !PA14
enable_pin: !PA13
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 200
position_max: 200
homing_speed: 40             # Speed of the first fast bump
homing_retract_dist: 8       # Backs off 8mm after the first bump
homing_retract_speed: 20     # KALICO: Slower speed for the second precision bump
min_home_dist: 5             # KALICO: Ensures the head isn't already resting on the endstop
use_sensorless_homing: true

[tmc2209 stepper_y]
uart_pin: PD8
interpolate: False
run_current: 1.0
hold_current: 0.5
sense_resistor: 0.110
diag_pin: ^PD2          # Note: Adding a pull-up (^)
driver_SGTHRS: 95       # Adjust for sensitivity
home_current: 0.5       # KALICO: Gentle bump current
current_change_dwell_time: 0.5 # KALICO: Stabilization delay

[stepper_z]
step_pin: PC6
dir_pin: !PC7
enable_pin: !PA9
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -4
position_max: 200

[tmc2209 stepper_z]
uart_pin: PB10
interpolate: False
run_current: 1.1
hold_current: 0.55
sense_resistor: 0.110

#####################################################################
#   Extruder & Heater Bed Settings
#####################################################################

[extruder]
step_pin: PB12
dir_pin: !PB11
enable_pin: !PA8
microsteps: 16
gear_ratio: 50:8
rotation_distance: 28.334 
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC5 
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA1
min_temp: -199
max_temp: 320
max_extrude_cross_section: 8
max_extrude_only_distance: 500
pressure_advance: 0.046

[tmc2209 extruder]
uart_pin: PB2
interpolate: False
run_current: 1.0
hold_current: 0.5
sense_resistor: 0.110

[heater_bed]
heater_pin: PA5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
min_temp: -199
max_temp: 130

#####################################################################
#   Probe & Bed Mesh (Eddy-NG)
#####################################################################

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 36.82
y_offset: -18.23

[bed_mesh]
horizontal_move_z: 2
speed: 120
mesh_min: 40, 25
mesh_max: 190, 180
probe_count: 30, 16
algorithm: bicubic

[bed_screws]
screw1: 30, 30
screw1_name: front left screw
screw2: 165, 30
screw2_name: front right screw
screw3: 165, 170
screw3_name: rear right screw
screw4: 30, 170
screw4_name: rear left screw

#####################################################################
#   Fans & Temperature Sensors
#####################################################################

[fan]
pin: PA3 
hardware_pwm: true
cycle_time: 0.00004       # 25kHz Intel Spec
kick_start_time: 0.5      # The automated "finger push" (0.5 seconds of full power)
min_power: 0.02           # Replaces off_below. Fan will never be driven lower than 2%.
max_power: 0.1            # Uncomment this later if the fan overpowers your heater!

[heater_fan hotend_fan]
pin: PA4 
heater: extruder
heater_temp: 50.0

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

[temperature_sensor mcu]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#####################################################################
#   Input Shaper
#####################################################################

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001

#####################################################################
#   Board Pins (EXP1 / EXP2)
#####################################################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PD5,  EXP1_3=PB3,  EXP1_5=PB5,  EXP1_7=PB7,  EXP1_9=<GND>,
    EXP1_2=PD4,  EXP1_4=PD6,  EXP1_6=PB4,  EXP1_8=PB6,  EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PB8,  EXP2_5=PC10, EXP2_7=PC12, EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB9,  EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=<NC>

#####################################################################
#   Klipper Software Features
#####################################################################

[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 1.0

[exclude_object]

[pause_resume]

[display_status]

[respond]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.317
#*# pid_ki = 0.997
#*# pid_kd = 124.837
#*# pid_version = 1
#*# pid_target = 250.00
#*# pid_tolerance = 0.0200
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 63.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 63.4
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 70.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 67.659
#*# pid_ki = 1.921
#*# pid_kd = 595.825
#*#
#*# [pid_profile extruder TPU_TAP]
#*# pid_version = 1
#*# pid_target = 140.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 15.668
#*# pid_ki = 0.557
#*# pid_kd = 110.264
#*#
#*# [pid_profile extruder PLA_TAP]
#*# pid_version = 1
#*# pid_target = 150.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 16.187
#*# pid_ki = 0.591
#*# pid_kd = 110.878
#*#
#*# [pid_profile extruder PETG_TAP]
#*# pid_version = 1
#*# pid_target = 150.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 16.187
#*# pid_ki = 0.591
#*# pid_kd = 110.878
#*#
#*# [pid_profile extruder ABS_TAP]
#*# pid_version = 1
#*# pid_target = 190.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 18.780
#*# pid_ki = 0.770
#*# pid_kd = 114.439
#*#
#*# [pid_profile extruder PLA]
#*# pid_version = 1
#*# pid_target = 210.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 20.100
#*# pid_ki = 0.854
#*# pid_kd = 118.339
#*#
#*# [pid_profile extruder TPU]
#*# pid_version = 1
#*# pid_target = 230.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 20.738
#*# pid_ki = 0.896
#*# pid_kd = 120.024
#*#
#*# [pid_profile extruder PETG]
#*# pid_version = 1
#*# pid_target = 240.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 21.287
#*# pid_ki = 0.936
#*# pid_kd = 121.068
#*#
#*# [pid_profile extruder ABS]
#*# pid_version = 1
#*# pid_target = 250.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 22.317
#*# pid_ki = 0.997
#*# pid_kd = 124.837
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16
#*# calibration_version = 5
#*# reg_drive_current = 16
#*# tap_drive_current = 16
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUOPxcWV2Mfg/poEVQKg6/T+apS4MJQLpPzQppbQuHNc/Odua8DSw1b/nR6ItIFrRP5Hjf9wtVvA/MZWpkPtE0r9gENVbQtPcvxUzf9pl79I/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQcoJnl1mwlD4WgIh2yguVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQKGYLGeHHGkCFQ8ozx24JQOMSEIWOUQFAFOCPWN7qA0B8ZaYrvajwvxJD+buFThTArhSujiy5BECUIApCKSsgQNCdjagBhOC/BtK+jPCFCsCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEJ9j1WupCJU+aUBeah4elT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1CFFoOUWfKUPnXRJO2CeiQ+5k+/f2+fFr4CV7RLl5MKPv/pICpoQ/c9TIkmLHAkHL5Rckb4KF8SvlAwput/Byg+Ab14eR6xDD5pvQyYpQgcvpR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQKHMpi+Nbgj9WQCp41/wTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/glvjiylzKEdALf/6rntz32WMB2ZfcmFuZ2WUXZQoR0FIPsAxXuAAR0FIv2NTs5AAZYwCZGOUSxB1Lg==
